*{
    padding:0px;
    margin: 0px;
    font-family: "Montserrat";
}
body{
    background-color: #333842;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 20fr;
}
.header{
    display: flex;
    justify-content: space-between;

    background-color: #1f2229;
}
.logo{
    display: flex;
    align-self: center;
    color:#798191;
    font-size: 30px;
    font-weight: 600;
}
.signin, a{
    display: flex;
    margin-right: 1vw;
    align-self: center;
    text-decoration: none;
    color: #798191;
    
}
a:visited{
    color: #798191;
}
.boardcontainer{
    display: grid;
    border: 1px solid black;
    margin: 50px;
    grid-template-rows: repeat(10, 1fr);
}
.row{
    display: flex;
}
.tile{
    background-color: #2c313a;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
}